<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	
	<body>
		<h1>Reset your password</h1>
		<p>You are receiving this email because you requested a password reset. To reset your password, please log in with the following password:</p>
		 <div><strong><%= @new_password %></strong></div>
		<p>Once logged in, you can change your password <%= link_to 'here', change_password_url %>.</p>
		<p>Thanks for using Haxxor News!</p>
	</body>
</html>