<div class="form-page span4 offset4">
<h1 class="form-title">New article</h1>

<%= render 'form' %>
<div class="row"></div>
<div class="row">
	<%= link_to 'Back to Index', articles_path %>
</div>
</div>