<h1><%= @user.email %></h1>

<table>
	<tr>
		<td>
  		<b>Member since:</b>
	  	<%= @user.created_at.strftime("%B %d, %Y") %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Articles submitted:</b>
			<%= @user.articles.count %>
		</td>
	</tr>
</table>