<div class="span10 offset1">
	<div class="hero-unit">
		<h1>Hacker News, haxxed.</h1>
		<p>Haxxor News was the first project that I accomplished as part of my internship at <%= link_to 'Viget Labs HQ', "http://viget.com/" %> this summer.  To read more about the process of making this, and other projects I'm working on, check out <%= link_to 'my blog', "http://jacobaweiss.github.com/" %>, where I'll be writing daily about my experience as a developer.</p>
		<p>
			<a class="btn btn-primary btn-large" href="https://github.com/jacobaweiss">See my projects</a>
	</div>
</div>