// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index-page {
	list-style-type: none;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #ccc;
	background-color: #fff;
	
	li {
		border-bottom-style: solid;
		border-width: 1px;
		padding: 10px;
		padding-left: 25px;
		border-color: #ccc;
	}
	
	li:hover {
		background-color: #f6f6f6;
	}
	
	li:last-child {
		border-bottom-style: none;
	}
}

.form-page {
	text-align: center;
	 }
	
.form-title {
	padding-bottom: 10px;
}